@import 'common/styles';

.Easel {
  flex: 1;
}

.Easel,
.Wrapper {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.VideoContainer {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 500px;
  margin: auto;
  overflow: hidden;
  border-radius: 250px;
}

.Canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.Video {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 250px;
  &::-webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
  }
}

.Button {
  width: 75%;
  min-width: 100px;
  max-width: 250px;
  margin-top: 24px;
  padding: 12px 24px;
  background: silver;
  position: relative;
  z-index: 2;
}

@keyframes flash {
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}

.Drawing {
  display: block;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.DrawContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border: 10px solid #f00;
  overflow: hidden;
  border-radius: 250px;
}
