@import 'common/styles';

.Easel {
  flex: 1;
}

.Easel,
.Wrapper {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.Container {
  position: relative;
  overflow: hidden;
  width: 100%;
  flex: 1;
}

.Canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.Video {
  position: absolute;

  &::-webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
  }
}

.Overlay {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  box-shadow: 0px 0px 20px 56px rgba(0, 0, 0, 0.6);
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.Flash {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: #ffffff;
}
.FlashOn {
  animation: flash 750ms ease-out;
}

.Button {
  width: 75%;
  min-width: 100px;
  max-width: 250px;
  margin-top: 24px;
  padding: 12px 24px;
  background: silver;
}

@keyframes flash {
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}

.Draw {
  cursor: crosshair;
}

.Drawing {
  display: block;
  width: 100%;
  height: 100%;
}

.DrawOverVideo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
