@import 'common/styles';

.Form {
  @include block;
  background: var(--color--form--bg);
  color: var(--color--form--color);
}

.Content {
  @include block-content;
}

.Label {
  display: block;
  position: relative;
  padding: calc(2 * var(--size--unit-base));
  &:not(:last-child) {
    margin-bottom: var(--size--unit-base);
  }
}

.Input {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  &:focus + .LabelText,
  &:valid + .LabelText,
  &:not([value='']) + .LabelText {
    display: none;
  }
  &[value='']:focus + .LabelText {
    display: block;
  }
}

.LabelText {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  padding: 0 calc(2 * var(--size--unit-base));
  color: var(--color--form--label);
}

.LabelRequired {
  display: none;
}

.Submit {
  display: block;
  margin: auto;
  width: 50%;
  background: var(--color--form--submit);
}
