@import 'common/styles';

@mixin workspace {
  position: relative;
  width: 500px;
  height: 500px;
  margin: auto;
  border-radius: 50%;
  border: 20px solid white;
  @media ($mq-mobile) {
    width: 350px;
    height: 350px;
  }
}

@mixin workspace-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  overflow: hidden;
}

@mixin button-hover {
  transition: transform calc(0.5 * var(--theme--animation-timing))
    var(--theme--animation-ease);

  cursor: pointer;
  &:focus,
  &:hover {
    transform: scale(1.15);
  }
  &:active {
    transform: scale(0.95);
  }
}

.Easel {
  flex: 1;
  // Hack: 128px is header height
  min-height: calc(-128px + 100vh);
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  position: relative;
  user-select: none;
}

/**
 * Preview
 * -------------------------------------------------------------- */

.Preview {
  @include workspace;
}

.PreviewVideo {
  opacity: 0;
  transition: opacity var(--theme--animation-timing)
    var(--theme--animation-ease);
}
.PreviewVideoPlaying {
  opacity: 1;
}

.PreviewButton {
  display: block;
  position: absolute;
  top: calc(100% + var(--theme--unit--base));
  left: calc(50% - 100px);
  margin: auto;
  height: auto;
  width: 200px;
  @include button-hover;
  transition: transform calc(0.5 * var(--theme--animation-timing))
      var(--theme--animation-ease),
    box-shadow var(--theme--animation-timing) var(--theme--animation-ease);
  box-shadow: 0 0 0 var(--theme--color--secondary);
  &:hover,
  &:focus {
    box-shadow: 0 0 30px var(--theme--color--secondary);
  }
}

/**
 * Workspace
 * -------------------------------------------------------------- */

.Workspace {
  @include workspace;
}

.WorkspaceHeading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--theme--color--white);
  span {
    display: block;
    margin: auto;
  }
}

.WorkspaceCaptureButton {
  position: absolute;
  top: calc(100% - 20px);
  left: calc(50% - 37px);
  width: 75px;
  height: 75px;
  @include button-hover;
  z-index: 2;
}

.WorkspaceClearButton,
.WorkspaceShuffleButton {
  position: absolute;
  top: 25px;
  width: 50px;
  height: 50px;
  @include button-hover;
  z-index: 2;
}
.WorkspaceShuffleButton {
  left: calc(100% - 60px);
}

.WorkspaceClearButton {
  right: calc(100% - 60px);
}

/**
 * ColoringBook Layer
 * -------------------------------------------------------------- */

.ColoringBookLayer {
  @include workspace-layer;
  pointer-events: none;
}

.ColoringBookArt {
  display: block;
}
/**
 * Video Layer
 * -------------------------------------------------------------- */

.VideoLayer {
  @include workspace-layer;
}

.PreviewVideo,
.Video {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  &::-webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
  }
}

/**
 * Drawing Layer
 * -------------------------------------------------------------- */
.DrawingLayer {
  @include workspace-layer;
  // z-index: 2;
}

.Drawing {
  display: block;
  width: 100%;
  height: 100%;
  cursor: none;
  border-radius: 250px;
}
.DrawPath {
}

.Cursor {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
  display: block;
  width: 150px;
  height: auto;
  z-index: 999;
  transform: translate(0, -100px);
  transition: opacity var(--theme--animation-timing)
      var(--theme--animation-ease),
    height calc(0.5 * var(--theme--animation-timing))
      var(--theme--animation-ease),
    width calc(0.5 * var(--theme--animation-timing))
      var(--theme--animation-ease),
    transform calc(0.5 * var(--theme--animation-timing))
      var(--theme--animation-ease);
}

.CursorSmall {
  width: 100px;
  transform: translate(0, -70px);
}
.CursorNormal {
  width: 120px;
  transform: translate(0, -82px);
}
.CursorMedium {
  width: 150px;
  transform: translate(0, -100px);
}
.CursorLarge {
  width: 200px;
  transform: translate(0, -130px);
}

.DrawingControl {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 100px;
  height: 100px;
  @include button-hover;
}
.DrawingControlSmaller {
  left: 0;
  margin-left: -75px;
}
.DrawingControlBigger {
  right: 0;
  margin-right: -75px;
}
