.Workspace {
  position: relative;
  width: 500px;
  height: 500px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 20px solid white;
}

.Cursor {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
  display: block;
  width: 150px;
  height: auto;
  z-index: 999;
  transform: translate(0, -100px);
}

.Video {
  position: relative;
  display: block;
  // top: 0;
  // left: 0;
  object-fit: cover;
  width: 720px;
  height: 480px;
  border-radius: inherit;
  &::-webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
  }
}

.Button {
  width: 75%;
  min-width: 100px;
  max-width: 250px;
  margin-top: 24px;
  padding: 12px 24px;
  background: silver;
  position: relative;
  z-index: 2;
}

.DrawingLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: inherit;
}

.Drawing {
  display: block;
  width: 100%;
  height: 100%;
  cursor: none;
  border-radius: 250px;
}
