@import 'common/styles';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  overscroll-behavior: none;
  background: var(--color--application-bg);
}

// Full Height Layout to support Sticky Footer
body,
:global(body #___gatsby),
:global(body #gatsby-focus-wrapper),
:global(body .layout) {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1 0 auto;
}

body,
input,
textarea,
select,
button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--font--root--size);
  font-weight: var(--font--root--weight);
  line-height: var(--font--root--line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1,
h2 {
  font-size: var(--font--size-xl);
}

h3 {
  font-size: var(--font--size-l);
}

h4 {
  font-size: var(--font--size-m);
}

h5,
h6 {
  font-size: var(--font--size);
}

em,
strong {
  font-weight: inherit;
  font-style: inherit;
}

p {
  margin-bottom: 1rem;
}

// ==================================================================
// Links
// ==================================================================

a {
  color: var(--color--link);

  &:hover,
  &:focus {
    color: var(--color--link-hover);
  }

  &:active {
    color: var(--color--link-active);
  }
}

// ==================================================================
// Lists
// ==================================================================
ul,
ol {
  list-style-position: inside;
}

// ==================================================================
// Forms
// ==================================================================

input,
select,
button,
textarea {
  -webkit-appearance: none;
  border-radius: calc(2 * var(--size--unit-base));
  border: none;
  outline: none;
  padding: calc(2 * var(--size--unit-base));
  width: 100%;
  box-shadow: var(--shadow--none);
  transition: box-shadow 200ms ease-out;

  &:focus {
    box-shadow: var(--shadow--base);
  }
}

button {
  // Hack: Don't let the text take up vertical height
  line-height: 0;
  position: relative;
  cursor: pointer;
  @include after-glass;
  &:hover {
    box-shadow: var(--shadow--base);
    &:after {
      background: var(--color--glass-white);
    }
  }
  &:active,
  &:active:hover {
    box-shadow: var(--shadow--inset);
    &:after {
      background: var(--color--glass-black);
    }
  }
}
