// ==================================================================
// Breakpoints
// ==================================================================

$mq-mobile-px: 767px;
$mq-desktop-px: 768px;

$mq-mobile: 'max-width: #{$mq-mobile-px}';
$mq-desktop: 'min-width: #{$mq-desktop-px}';

// Usage:
// @media ($mq-mobile) { ... }
// @media ($mq-desktop) { ... }
