@import 'common/styles';

.Hero {
  @include block;
  @include before-glass;

  width: 100vw;
  height: 66vh;
  color: var(--hero--color);
  background: var(--hero--background) 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1,
  h2 {
    font-weight: bold;
    font-size: var(--hero--heading-size--mobile);
    @media ($mq-desktop) {
      font-size: var(--hero--heading-size);
    }
  }

  p {
    font-weight: bold;
    line-height: 1.2;
    @media ($mq-desktop) {
      font-size: var(--hero--text-size);
    }
    @media ($mq-mobile) {
      font-size: var(--hero--text-size--mobile);
    }
  }

  &:before {
    background-color: var(--hero--overlay-color);
  }
}

.Content {
  @include block-content;

  text-align: center;
}
