.CTA {
  background: var(--color--cta-bg);
  color: var(--color--cta-color);
  padding: var(--size--unit-base);
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  text-align: center;
}
