.CTA {
  background: var(--cta--background);
  color: var(--cta--color);
  padding: var(--cta--size) calc(2 * var(--cta--size));
  font-size: var(--cta--font-size);
  text-decoration: none;
  display: inline-block;
  // line-height: 1;
  text-align: center;
  border-radius: calc(4 * var(--cta--size));
  margin: calc(2 * var(--cta--size));

  &:hover,
  &:focus {
    background: var(--cta--color);
    color: var(--cta--background);
  }
}
