@import '../variables';

// ==================================================================
// Blocks
// ==================================================================
@mixin block() {
  padding: var(--block--padding);
  @media ($mq-mobile) {
    padding: var(--block--padding--mobile);
  }
}

@mixin block-content() {
  @media ($mq-desktop) {
    max-width: var(--block--max-width);
    margin: auto;
  }

  ul,
  ol {
    list-style: none;
  }

  a {
    display: inline-block;
    text-decoration: underline;
  }

  :global(.callout-cta) {
    display: inline-block;
    text-align: center;
    background: var(--callout--cta--background);
    color: var(--callout--cta--color);
    padding: var(--callout--cta--padding);
    border-radius: var(--callout--cta--radius);
    text-decoration: none;
  }
}

@mixin block-content-columns() {
  @media ($mq-desktop) {
    display: flex;
  }

  & > section {
    @media ($mq-desktop) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      &:nth-child(odd) {
        padding-right: var(--block--padding);
      }
      &:nth-child(even) {
        padding-left: var(--block--padding);
      }
    }
    @media ($mq-mobile) {
      padding: var(--block--padding--mobile);
    }
  }
}
