/* ==================================================================
// Landing Page Fonts -- Define @font-face for font files in /static/fonts/canela/
// Resource: https://transfonter.org can prepare font files for all browsers and platforms
// ================================================================== */

/**
 * Variants:
 * - Light            (font-weight: 300)
 * - Regular          (font-weight: 400)
 * - SemiBold         (font-weight: 600)
 * - Bold             (font-weight: 700)
 * - LightItalic      (font-style: italic, font-weight: 300)
 * - RegularItalic    (font-style: italic, font-weight: 400)
 * - SemiBoldItalic   (font-style: italic, font-weight: 600)
 * - BoldItalic       (font-style: italic, font-weight: 700)
 */

@font-face {
    font-family: 'Marr Sans Web';
    src: url('/fonts/marr/subset-MarrSansWeb-Bold.woff2') format('woff2'),
        url('/fonts/marr/subset-MarrSansWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marr Sans Web';
    src: url('/fonts/marr/subset-MarrSansWeb-RegularItalic.woff2') format('woff2'),
        url('/fonts/marr/subset-MarrSansWeb-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Marr Sans Web';
    src: url('/fonts/marr/subset-MarrSansWeb-Thin.woff2') format('woff2'),
        url('/fonts/marr/subset-MarrSansWeb-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marr Sans Web';
    src: url('/fonts/marr/subset-MarrSansWeb-SemiboldItalic.woff2') format('woff2'),
        url('/fonts/marr/subset-MarrSansWeb-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Marr Sans Web';
    src: url('/fonts/marr/subset-MarrSansWeb-Medium.woff2') format('woff2'),
        url('/fonts/marr/subset-MarrSansWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marr Sans Web';
    src: url('/fonts/marr/subset-MarrSansWeb-BoldItalic.woff2') format('woff2'),
        url('/fonts/marr/subset-MarrSansWeb-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Marr Sans Web';
    src: url('/fonts/marr/subset-MarrSansWeb-MediumItalic.woff2') format('woff2'),
        url('/fonts/marr/subset-MarrSansWeb-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Marr Sans Web Ultra';
    src: url('/fonts/marr/subset-MarrSansWeb-UltraBlackItalic.woff2') format('woff2'),
        url('/fonts/marr/subset-MarrSansWeb-UltraBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Marr Sans Web';
    src: url('/fonts/marr/subset-MarrSansWeb-Regular.woff2') format('woff2'),
        url('/fonts/marr/subset-MarrSansWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marr Sans Web';
    src: url('/fonts/marr/subset-MarrSansWeb-LightItalic.woff2') format('woff2'),
        url('/fonts/marr/subset-MarrSansWeb-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Marr Sans Web';
    src: url('/fonts/marr/subset-MarrSansWeb-Semibold.woff2') format('woff2'),
        url('/fonts/marr/subset-MarrSansWeb-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marr Sans Web';
    src: url('/fonts/marr/subset-MarrSansWeb-ThinItalic.woff2') format('woff2'),
        url('/fonts/marr/subset-MarrSansWeb-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Marr Sans Web Ultra';
    src: url('/fonts/marr/subset-MarrSansWeb-UltraBlack.woff2') format('woff2'),
        url('/fonts/marr/subset-MarrSansWeb-UltraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marr Sans Web';
    src: url('/fonts/marr/subset-MarrSansWeb-Light.woff2') format('woff2'),
        url('/fonts/marr/subset-MarrSansWeb-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

