/* ==================================================================
// Landing Page Styles -- Add any custom styles here
// ================================================================== */


/* Elements
  ------------------------------------------------------------------- */
input {
  border: 1px solid var(--theme--color--white);
  border-radius: var(--theme--radius);
}

blockquote,
q {
  font-style: normal;
  text-align: center;
}

blockquote footer {
  padding: var(--theme--unit--small);
}

/* Callouts
  ------------------------------------------------------------------- */
#Callout1 {
  display: flex;
  min-height: calc(100vh - 3 * var(--block--padding));
  flex-direction: column;
}

#Callout1 > .callout-content {
  position: relative;
  margin: auto;
  top: calc(-2 * var(--block--padding));
}

@media (max-width: 767px) {
  .nume-kit {
    max-height: 30vh;
  }
  #Callout1 > .callout-content {
    margin: 0;
    top: 0;
  }
}

#Callout7,
#Callout2 {
  position: relative;
  padding: calc( 2 * var(--theme--unit--base));
  overflow: hidden;
}

#Callout7::before,
#Callout7::after,
#Callout2::before,
#Callout2::after {
  content: '';
  position: absolute;
  top: -0.5rem; bottom: -0.5rem;
  width: 100rem;
  background: url('/images/mark.svg') 50% 50% no-repeat;
  background-size: contain;
}

#Callout7::before,
#Callout2::before {
  left: 0;
  transform: translateX(-50%);
}

#Callout7::after,
#Callout2::after {
  right: 0;
  transform: translateX(50%) rotate(180deg);
}

@media (max-width: 767px) {
  #Callout7,
  #Callout2 {
    padding: var(--theme--unit--base);
  }
  #Callout7::after,
  #Callout2::before {
    display: none;
  }
}

#Callout7 {
  --callout--center--background: var(--theme--color--black);
  --callout--center--color: var(--theme--color--white);
}

#Callout7::before,
#Callout7::after {
  filter: invert();
}

#Callout6 > .callout-content section {
  padding: var(--theme--unit--base);
}

#Callout6 > .callout-content section {
  padding: var(--theme--unit--base);
  cursor: pointer;
}

#Callout3 .callout-cta {
  --callout--cta--background: var(--theme--color--black);
  --callout--cta--color: var(--theme--color--primary);
}

#Callout5 blockquote {
  padding: 0 0 var(--theme--unit--base);
}

#Callout5 ul {
  display: flex;
}

#Callout5 ul li {
  width: 50%;
  padding: 0 var(--theme--unit--base);
}
#Callout5 ul li::before {
  display: none;
}

#Callout5 blockquote footer {
  font-size: var(--theme--font--size-m);
  padding: var(--theme--unit--small);
}

#Callout5 ul li blockquote footer {
  font-size: var(--theme--font--size);
}

#Callout5 ul li blockquote {
  font-size: var(--theme--font--size);
  padding: 0;
}

@media (max-width: 767px) {
  #Callout5 ul {
    display: block;
  }
  #Callout5 ul li {
    width: auto;
  }
  #Callout5 blockquote footer,
  #Callout5 blockquote,
  #Callout5 blockquote h3,
  #Callout5 blockquote p,
  #Callout5 ul li,
  #Callout5 blockquote ul li blockquote {
    line-height: inherit;
    font-size: var(--theme--font--size);
    padding: 0;
    margin: 0;
  }
  #Callout5 blockquote footer {
    padding: calc(0.5 * var(--theme--unit--base)) 0 var(--theme--unit--base);
  }
  #Callout5 li:last-child blockquote footer {
    padding-bottom: calc(0.5 * var(--theme--unit--base));
  }
}


@media (max-width: 767px) {
  #Callout8 {
    padding: var(--theme--unit--base) 0;

  }
  #Callout8 .callout-content section {
    padding: 0;
  }
}

@media (max-width: 767px) {
  #Footer {
    text-align: center;
  }
}
<<<<<<< HEAD

#Footer .logo {
  display: block;
  margin: auto;
}

#Footer .footer--content {
  display: none;
}
=======
>>>>>>> Setup Accordion and Badgelist components for Nume
