/* ==================================================================
// Landing Page Styles -- Add any custom styles here
// ================================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.header .header--h1 {
  margin: auto;
  text-align: center;
}

body {
  background-size: cover !important;
}

#Callout1 h2 {
  /* font-size: var(--theme--font--size-xl); */
}
#Callout1 p {
  /* font-size: var(--theme--font--size-m); */
}


#Footer .logo {
  filter: invert();
}
