/* ==================================================================
// Theme -- CSS Variables
// ================================================================== */
:root {
  --color--application-bg: #FAE632;

  --color--callout-em:#FAE632;
  --callout--number-bg: white;
  --callout--number-text: #0065CE;

  --color--callout-left-bg: #FD4E1A;
  --color--callout-left-text: white;

  --color--callout-right-bg: #FF3172;
  --color--callout-right-text: white;

  --color--callout-three-bg: #0065CE;
  --color--callout-three-text: white;

  --color--cta-bg: #FD4E1A;
  --color--cta-color: white;

  --color--footer-bg: white;

  --color--form--bg:#FAE632;
  --color--form--color: white;
  --color--form--label: black;
  --color--form--submit: #FD4E1A;

  --color--glass-black: rgba(0, 0, 0, 0.25);
  --color--glass-white: rgba(255, 255, 255, 0.1);

  --color--hero-bg: #FAE632;
  --color--hero-color: white;
  --color--hero-glass: var(--color--glass-black);

  --color--link-active: black;
  --color--link-hover: #FD4E1A;
  --color--link: black;

  --color--nav-link-current: #FD4E1A;
  --color--nav-link: white;

  --size--unit-small: 0.5rem;
  --size--unit-base: 1rem;
  --size--unit-medium: 2rem;
  --size--unit-large: 4rem;

  --size--desktop-content-max: 1080px;

  --cta--font-size: var(--font--size-m);

  --font--root--size: 20px;
  --font--root--weight: bold;
  --font--root--line-height: 1.5;

  --font--size-xxl: 6rem;
  --font--size-xl: 3rem;
  --font--size-l: 2.5rem;
  --font--size-m: 1.75rem;
  --font--size: 1.25rem;

  --shadow--base: 0 0 4px rgba(0, 0, 0, 0.2);
  --shadow--inset: inset 1px 1px 4px rgba(0, 0, 0, 0.1);
  --shadow--none: 0 0 0 rgba(0, 0, 0, 0);
}
