/* ==================================================================
// Theme -- CSS Variables
// ================================================================== */
:root {
  /* ==================================================================
  // Color Palette
  // ================================================================== */
  --theme--color--primary: #0065CE;
  --theme--color--secondary: #FAE632;
  --theme--color--tertiary: #FD4E1A;
  --theme--color--quaternary: #FF3172;
  --theme--color--white: #FFF;
  --theme--color--black: #000;
  --theme--color--transparent: transparent;
  --theme--color--transparent-dark: rgba(0, 0, 0, 0.25);
  --theme--color--transparent-light: rgba(255, 255, 255, 0.1);


  /* ==================================================================
  // Typography
  // ================================================================== */
  --theme--font--root--family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --theme--font--root--size: 20px;
  --theme--font--root--weight: bold;
  --theme--font--root--line-height: 1.5;
  --theme--font--size-xxl: 6rem;
  --theme--font--size-xl: 3rem;
  --theme--font--size-l: 2.5rem;
  --theme--font--size-m: 1.75rem;
  --theme--font--size: 1.25rem;


  /* ==================================================================
  // Sizing / Spacing
  // ================================================================== */
  --theme--unit--small: 0.5rem;
  --theme--unit--base: 1rem;
  --theme--unit--medium: 2rem;
  --theme--unit--large: 4rem;


  /* ==================================================================
  // Dropshadows
  // ================================================================== */
  --theme--shadow--base: 0 0 4px rgba(0, 0, 0, 0.2);
  --theme--shadow--inset: inset 1px 1px 4px rgba(0, 0, 0, 0.1);
  --theme--shadow--none: 0 0 0 rgba(0, 0, 0, 0);

  /* ==================================================================
  // Animation
  // ================================================================== */
  --theme--animation-timing: 360ms;

  /* ==================================================================
  // Page
  // ================================================================== */
  --page--background: var(--theme--color--secondary);
  --page--link-active--color: var(--theme--color--black);
  --page--link-hover--color: var(--theme--color--tertiary);
  --page--link--color: var(--theme--color--black);
  --page--footer--background: var(--theme--color--white);
  --page--footer--padding: var(--theme--unit--base);

  /* ==================================================================
  // Page
  // ================================================================== */
  --navigation--link--color--active: var(--theme--color--tertiary);
  --navigation--link--color: var(--theme--color--white);
  --navigation--mobile-menu--background: var(--theme--color--secondary);


  /* ==================================================================
  // Logo
  // ================================================================== */
  --logo--height: var(--theme--unit--medium);


  /* ==================================================================
  // Blocks
  // ================================================================== */
  --block--max-width: 1080px;
  --block--padding: var(--theme--unit--base);


  /* ==================================================================
  // Block: Hero
  // ================================================================== */
  --hero--color: var(--theme--color--white);
  --hero--background: var(--theme--color--seconary);
  --hero--heading-size: var(--theme--font--size-xxl);
  --hero--heading-size--mobile: var(--theme--font--size-l);
  --hero--text-size: var(--theme--font--size-xl);
  --hero--text-size--mobile: var(--theme--font--size-m);
  --hero--overlay-color: var(--theme--color--transparent-dark);


  /* ==================================================================
  // Block: CTA (in Hero)
  // ================================================================== */
  --cta--background: var(--theme--color--primary);
  --cta--color: var(--theme--color--white);
  --cta--font-size: var(--theme--font--size-m);
  --cta--size: var(--theme--unit--base);


  /* ==================================================================
  // Block: Callout
  // ================================================================== */
  --callout--accent-color: var(--theme--color--secondary);
  --callout--list--font-size: var(--theme--font--size-m);
  --callout--size: var(--theme--unit--base);
  --callout--number-bg: var(--theme--color--white);
  --callout--number-text: var(--theme--color--primary);

  --callout--left--background: var(--theme--color--tertiary);
  --callout--left--color: var(--theme--color--white);

  --callout--right--background: var(--theme--color--quaternary);
  --callout--right--color: var(--theme--color--white);

  --callout--three--background: var(--theme--color--tertiary);
  --callout--three--color: var(--theme--color--white);

  --callout--full--background: var(--theme--color--primary);
  --callout--full--color: var(--theme--color--white);


  /* ==================================================================
  // Block: Conversion
  // ================================================================== */
  --conversion--form--background: var(--theme--color--secondary);
  --conversion--form--color: var(--theme--color--white);
  --conversion--form--padding: var(--theme--unit--base);
  --conversion--form-label--color: var(--theme--color--black);
  --conversion--form-submit--background: var(--theme--color--tertiary);
}
