@import 'common/styles';

.Footer {
  @include block;
  padding: calc(2 * var(--size--unit-base));

  width: 100vw;
  margin: auto auto 0 0;
  background: var(--color--footer-bg);
  @media ($mq-desktop) {
    display: flex;
  }

  & > :not(:first-child) {
    flex: 1;
  }
}

.Logo {
  margin-top: var(--size--unit-small);
  padding-right: var(--size--unit-medium);
}

.Content {
  @include block-content;
  @include block-content-columns;

  ul {
    @media ($mq-desktop) {
      text-align: right;
    }
  }
}
