.Footer {
  width: 100vw;
  margin-top: var(--size--unit-large);
  margin-left: calc(-1 * var(--size--unit-base));
  height: 50vh;
  background: var(--color--footer-bg);
  padding: var(--size--unit-base);
}
