.EaselPrototype {
  position: relative;
  display: inline-block;
  background: 50% 50% no-repeat;
  background-size: contain;

  padding: var(--theme--unit--small) 0 0;

  img {
    max-height: 80vh;
  }
}
