.Preview {
  background: var(--theme--color--quaternary);
  margin: auto auto 0 auto;
}

.PlayButton {
  display: block;
  margin: var(--theme--unit--base) auto auto;
  cursor: pointer;
  transition: transform var(--theme--animation-timing)
    var(--theme--animation-ease);
  &:focus,
  &:hover {
    transform: scale(1.5);
    transition: transform var(--theme--animation-timing)
      var(--theme--animation-ease);
  }
}
