.Nav {
  display: flex;
  text-align: center;
  padding-bottom: var(--size--unit-base);
}

.NavLink {
  display: inline-block;
  padding: var(--size--unit-small);
  text-decoration: none;
}

.NavLinkActive {
  color: var(--color--link-active);
}
