.Nav {
}

.NavLink {
  display: inline-block;
  padding: var(--size--unit-small);
  text-decoration: none;
  color: var(--color--nav-link);
}

.NavLinkCurrent {
  color: var(--color--nav-link-current);
}
