.Nav {
}

.NavLink {
  display: inline-block;
  padding: var(--theme--unit--small);
  text-decoration: none;
  color: var(--page--navigation--color);
}

.NavLinkCurrent {
  color: var(--page--navigation--color--active);
}
